<mat-tab-group *ngIf="dates.length">
    <mat-tab *ngFor="let date of dates" [label]="(date | date:'EEE, MMM d') || ' ' ">
        <ng-container *ngFor="let group of groupedSessions[date.toDateString()]">
            <app-time-group
                [time]="group.time"
                [sessions]="group.sessions"
                [sessionCheckins]="sessionCheckins"
                [checkedInSessionIds]="checkedInSessionIds"
                (checkIn)="checkIn.emit($event)">
            </app-time-group>
        </ng-container>
    </mat-tab>
</mat-tab-group>
