@use "../../../../../styles/conference_variables" as *;

.location-section {
    margin-bottom: 2.5rem;

    .location-card {
        background-color: white;
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-shadow: $card-shadow;

        .location-details {
            line-height: 1.6;

            .address-line {
                margin-bottom: 0.5rem;
                font-size: 1rem;

                &.additional-info {
                    color: $text-muted;
                    font-style: italic;
                }
            }
        }
    }
}
