<mat-toolbar>
    <button mat-icon-button aria-label="Toggle sidenav" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Capit - Platform</span>
    <span class="toolbar__spacer"></span>
    <div class="toolbar__user" *ngIf="tokenParsed">
        <span>{{ tokenParsed['given_name'] + ' ' + tokenParsed['family_name']}}</span>
        <button mat-stroked-button aria-label="Logout" (click)="logout()">logout</button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push">
        <!-- Navigation content can go here -->
        <p>Navigation Menu</p>
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active" class="nav-list__item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><span matLine>Home</span></a>
            <a mat-list-item routerLink="/platform/sessions" routerLinkActive="active" class="nav-list__item"><mat-icon aria-hidden="false" aria-label="event icon" fontIcon="event"></mat-icon><span>Conferences</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="app__container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
