.example-container {
    height: calc(100vh - 64px);
}

.toolbar__user {
    cursor: pointer;
    span{
        transition: all 0.3s ease-in-out;
    }
    :hover {
        color: #667eea;
    }
}

mat-sidenav-content {
    padding: 1rem;
}

mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mat-mdc-list-item-unscoped-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}
