.example-container {
    height: calc(100vh - 4rem);
}

.toolbar__user {
    cursor: pointer;
    span{
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        /* primary color */
        color: var(--mat-sys-primary);
    }
}

mat-sidenav-content {
    overflow-x: hidden;
    padding: 1rem;
}

mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mat-mdc-list-item-unscoped-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}
