// '../../../../../styles/conference_variables';
@use "../../../../../styles/conference_variables" as *;

:host {
    position: relative;
    left: -3rem;
    box-sizing: border-box;
}

.conference-hero {
    background: $hero-bg;
    /* text on hero background */
    color: var(--mat-sys-on-primary);
    padding: 2rem 4rem;
    margin-bottom: 1.875rem;
    box-shadow: var(--mat-sys-shadow);
    width: 100vw;

    h1 {
        margin: 0 0 1rem;
        font-size: 2rem;
        font-weight: 600;
    }

    .conference-dates,
    .conference-location {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        opacity: 0.9;

        mat-icon {
            margin-right: 0.5rem;
            font-size: 1.25rem;
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
